<%= form_for @event do |f| %>
	<h2>Create New Event</h2>
	<%= f.label :title, "Event Title:" %>
	<br>
	<%= f.text_field :title, placeholder: "Rails" %>

	<%= f.label :location, "Location:" %>
	<%= f.text_field :location, placeholder: "San Francisco" %>
	<br><br>
	<%= f.label :description, "Event Description:" %>
	<br>
	<%= f.text_area :description, placeholder: "You can add details of the event here!" %>
	<br><br>
	<%= f.label :happening, "Happening:" %>
	<br>
	<%= f.datetime_select :happening, ampm: true, default: DateTime.tomorrow + 12.hours %>
	<br><br>
	<div class="submit">
		<%= f.submit "Create Event" %>
	</div>
<% end %>
<p> Here is a list of <%= link_to "all events", events_path %> already created by other users.</p>
<p><%= link_to "logout", logout_path %></p>

