<h1><%= @event.title %></h1>
<p>Date created: <%= @event.happening %></p>
<p>Description: <%= @event.description %></p>
<p>Location: <%= @event.location %></p>
<p>Host: <%= @event.creator.name.capitalize %>


<p><%= link_to "logout", logout_path %></p>

<p>
  Dear 
  "<%= current_user.name.capitalize %>", 
  here is a list of 
  <%= link_to "all events", events_path %> 
  already created by other users.
</p> 

<p> Or create your own <%= link_to "events here", new_event_path %></p>


