<h1><%= @event.title %></h1>
<p>Date created: <%= @event.happening %></p>
<p>Description: <%= @event.description %></p>
<p>Location: <%= @event.location %></p>
<p>Host: <%= @event.creator.name %>

<p><%= @current.user %></p>